<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.AluminumProcessknowledg0Mapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.AluminumProcessknowledg0">
    <id column="工艺顺序" jdbcType="CHAR" property="工艺顺序" />
    <result column="工序名称" jdbcType="CHAR" property="工序名称" />
    <result column="工序类型" jdbcType="CHAR" property="工序类型" />
    <result column="工位名称" jdbcType="CHAR" property="工位名称" />
    <result column="加工设备" jdbcType="CHAR" property="加工设备" />
    <result column="加工人员" jdbcType="CHAR" property="加工人员" />
    <result column="X" jdbcType="CHAR" property="x" />
    <result column="Y" jdbcType="CHAR" property="y" />
    <result column="Z" jdbcType="CHAR" property="z" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.ALUMINUM_PROCESSKNOWLEDG0
    where 工艺顺序 = #{工艺顺序,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.AluminumProcessknowledg0">
    insert into WISDOM.ALUMINUM_PROCESSKNOWLEDG0 (工艺顺序, 工序名称, 工序类型, 工位名称, 
      加工设备, 加工人员, X, Y, 
      Z)
    values (#{工艺顺序,jdbcType=CHAR}, #{工序名称,jdbcType=CHAR}, #{工序类型,jdbcType=CHAR}, #{工位名称,jdbcType=CHAR}, 
      #{加工设备,jdbcType=CHAR}, #{加工人员,jdbcType=CHAR}, #{x,jdbcType=CHAR}, #{y,jdbcType=CHAR}, 
      #{z,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.AluminumProcessknowledg0">
    update WISDOM.ALUMINUM_PROCESSKNOWLEDG0
    set 工序名称 = #{工序名称,jdbcType=CHAR},
      工序类型 = #{工序类型,jdbcType=CHAR},
      工位名称 = #{工位名称,jdbcType=CHAR},
      加工设备 = #{加工设备,jdbcType=CHAR},
      加工人员 = #{加工人员,jdbcType=CHAR},
      X = #{x,jdbcType=CHAR},
      Y = #{y,jdbcType=CHAR},
      Z = #{z,jdbcType=CHAR}
    where 工艺顺序 = #{工艺顺序,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 工艺顺序, 工序名称, 工序类型, 工位名称, 加工设备, 加工人员, X, Y, Z
    from WISDOM.ALUMINUM_PROCESSKNOWLEDG0
    where 工艺顺序 = #{工艺顺序,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 工艺顺序, 工序名称, 工序类型, 工位名称, 加工设备, 加工人员, X, Y, Z
    from WISDOM.ALUMINUM_PROCESSKNOWLEDG0
  </select>
</mapper>