<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.AnalysisequipmentMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Analysisequipment">
    <result column="GXID" jdbcType="CHAR" property="gxid" />
    <result column="GXNAME" jdbcType="CHAR" property="gxname" />
    <result column="EQUIPMENT" jdbcType="CHAR" property="equipment" />
    <result column="WORKER" jdbcType="CHAR" property="worker" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Analysisequipment">
    insert into WISDOM.ANALYSISEQUIPMENT (GXID, GXNAME, EQUIPMENT, 
      WORKER)
    values (#{gxid,jdbcType=CHAR}, #{gxname,jdbcType=CHAR}, #{equipment,jdbcType=CHAR}, 
      #{worker,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select GXID, GXNAME, EQUIPMENT, WORKER
    from WISDOM.ANALYSISEQUIPMENT
  </select>
</mapper>