<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.CdsjohnsonMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Cdsjohnson">
    <id column="PARTNO" jdbcType="CHAR" property="partno" />
    <result column="AI" jdbcType="DECIMAL" property="ai" />
    <result column="BI" jdbcType="DECIMAL" property="bi" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.CDSJOHNSON
    where PARTNO = #{partno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Cdsjohnson">
    insert into WISDOM.CDSJOHNSON (PARTNO, AI, BI)
    values (#{partno,jdbcType=CHAR}, #{ai,jdbcType=DECIMAL}, #{bi,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Cdsjohnson">
    update WISDOM.CDSJOHNSON
    set AI = #{ai,jdbcType=DECIMAL},
      BI = #{bi,jdbcType=DECIMAL}
    where PARTNO = #{partno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PARTNO, AI, BI
    from WISDOM.CDSJOHNSON
    where PARTNO = #{partno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PARTNO, AI, BI
    from WISDOM.CDSJOHNSON
  </select>
</mapper>