<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.DefAqcallMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.DefAqcall">
    <id column="ENQ_TID" jdbcType="VARCHAR" property="enqTid" />
    <id column="STEP_NO" jdbcType="DECIMAL" property="stepNo" />
    <result column="Q_NAME" jdbcType="VARCHAR" property="qName" />
    <result column="CORRID" jdbcType="VARCHAR" property="corrid" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="DELAY" jdbcType="TIMESTAMP" property="delay" />
    <result column="EXPIRATION" jdbcType="DECIMAL" property="expiration" />
    <result column="TIME_MANAGER_INFO" jdbcType="TIMESTAMP" property="timeManagerInfo" />
    <result column="LOCAL_ORDER_NO" jdbcType="DECIMAL" property="localOrderNo" />
    <result column="CHAIN_NO" jdbcType="DECIMAL" property="chainNo" />
    <result column="CSCN" jdbcType="DECIMAL" property="cscn" />
    <result column="DSCN" jdbcType="DECIMAL" property="dscn" />
    <result column="ENQ_TIME" jdbcType="TIMESTAMP" property="enqTime" />
    <result column="ENQ_UID" jdbcType="DECIMAL" property="enqUid" />
    <result column="DEQ_TIME" jdbcType="TIMESTAMP" property="deqTime" />
    <result column="DEQ_UID" jdbcType="DECIMAL" property="deqUid" />
    <result column="DEQ_TID" jdbcType="VARCHAR" property="deqTid" />
    <result column="RETRY_COUNT" jdbcType="DECIMAL" property="retryCount" />
    <result column="EXCEPTION_QSCHEMA" jdbcType="VARCHAR" property="exceptionQschema" />
    <result column="EXCEPTION_QUEUE" jdbcType="VARCHAR" property="exceptionQueue" />
    <result column="RECIPIENT_KEY" jdbcType="DECIMAL" property="recipientKey" />
    <result column="MSGID" jdbcType="VARBINARY" property="msgid" />
    <result column="DEQUEUE_MSGID" jdbcType="VARBINARY" property="dequeueMsgid" />
    <result column="USER_DATA" jdbcType="BLOB" property="userData" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WISDOM.DEF$_AQCALL
    where ENQ_TID = #{enqTid,jdbcType=VARCHAR}
      and STEP_NO = #{stepNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.DefAqcall">
    insert into WISDOM.DEF$_AQCALL (ENQ_TID, STEP_NO, Q_NAME, 
      CORRID, PRIORITY, STATE, 
      DELAY, EXPIRATION, TIME_MANAGER_INFO, 
      LOCAL_ORDER_NO, CHAIN_NO, CSCN, 
      DSCN, ENQ_TIME, ENQ_UID, 
      DEQ_TIME, DEQ_UID, DEQ_TID, 
      RETRY_COUNT, EXCEPTION_QSCHEMA, EXCEPTION_QUEUE, 
      RECIPIENT_KEY, MSGID, DEQUEUE_MSGID, 
      USER_DATA)
    values (#{enqTid,jdbcType=VARCHAR}, #{stepNo,jdbcType=DECIMAL}, #{qName,jdbcType=VARCHAR}, 
      #{corrid,jdbcType=VARCHAR}, #{priority,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{delay,jdbcType=TIMESTAMP}, #{expiration,jdbcType=DECIMAL}, #{timeManagerInfo,jdbcType=TIMESTAMP}, 
      #{localOrderNo,jdbcType=DECIMAL}, #{chainNo,jdbcType=DECIMAL}, #{cscn,jdbcType=DECIMAL}, 
      #{dscn,jdbcType=DECIMAL}, #{enqTime,jdbcType=TIMESTAMP}, #{enqUid,jdbcType=DECIMAL}, 
      #{deqTime,jdbcType=TIMESTAMP}, #{deqUid,jdbcType=DECIMAL}, #{deqTid,jdbcType=VARCHAR}, 
      #{retryCount,jdbcType=DECIMAL}, #{exceptionQschema,jdbcType=VARCHAR}, #{exceptionQueue,jdbcType=VARCHAR}, 
      #{recipientKey,jdbcType=DECIMAL}, #{msgid,jdbcType=VARBINARY}, #{dequeueMsgid,jdbcType=VARBINARY}, 
      #{userData,jdbcType=BLOB})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.DefAqcall">
    update WISDOM.DEF$_AQCALL
    set Q_NAME = #{qName,jdbcType=VARCHAR},
      CORRID = #{corrid,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      DELAY = #{delay,jdbcType=TIMESTAMP},
      EXPIRATION = #{expiration,jdbcType=DECIMAL},
      TIME_MANAGER_INFO = #{timeManagerInfo,jdbcType=TIMESTAMP},
      LOCAL_ORDER_NO = #{localOrderNo,jdbcType=DECIMAL},
      CHAIN_NO = #{chainNo,jdbcType=DECIMAL},
      CSCN = #{cscn,jdbcType=DECIMAL},
      DSCN = #{dscn,jdbcType=DECIMAL},
      ENQ_TIME = #{enqTime,jdbcType=TIMESTAMP},
      ENQ_UID = #{enqUid,jdbcType=DECIMAL},
      DEQ_TIME = #{deqTime,jdbcType=TIMESTAMP},
      DEQ_UID = #{deqUid,jdbcType=DECIMAL},
      DEQ_TID = #{deqTid,jdbcType=VARCHAR},
      RETRY_COUNT = #{retryCount,jdbcType=DECIMAL},
      EXCEPTION_QSCHEMA = #{exceptionQschema,jdbcType=VARCHAR},
      EXCEPTION_QUEUE = #{exceptionQueue,jdbcType=VARCHAR},
      RECIPIENT_KEY = #{recipientKey,jdbcType=DECIMAL},
      MSGID = #{msgid,jdbcType=VARBINARY},
      DEQUEUE_MSGID = #{dequeueMsgid,jdbcType=VARBINARY},
      USER_DATA = #{userData,jdbcType=BLOB}
    where ENQ_TID = #{enqTid,jdbcType=VARCHAR}
      and STEP_NO = #{stepNo,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select ENQ_TID, STEP_NO, Q_NAME, CORRID, PRIORITY, STATE, DELAY, EXPIRATION, TIME_MANAGER_INFO, 
    LOCAL_ORDER_NO, CHAIN_NO, CSCN, DSCN, ENQ_TIME, ENQ_UID, DEQ_TIME, DEQ_UID, DEQ_TID, 
    RETRY_COUNT, EXCEPTION_QSCHEMA, EXCEPTION_QUEUE, RECIPIENT_KEY, MSGID, DEQUEUE_MSGID, 
    USER_DATA
    from WISDOM.DEF$_AQCALL
    where ENQ_TID = #{enqTid,jdbcType=VARCHAR}
      and STEP_NO = #{stepNo,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ENQ_TID, STEP_NO, Q_NAME, CORRID, PRIORITY, STATE, DELAY, EXPIRATION, TIME_MANAGER_INFO, 
    LOCAL_ORDER_NO, CHAIN_NO, CSCN, DSCN, ENQ_TIME, ENQ_UID, DEQ_TIME, DEQ_UID, DEQ_TID, 
    RETRY_COUNT, EXCEPTION_QSCHEMA, EXCEPTION_QUEUE, RECIPIENT_KEY, MSGID, DEQUEUE_MSGID, 
    USER_DATA
    from WISDOM.DEF$_AQCALL
  </select>
</mapper>