<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.GamaxendtimeMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Gamaxendtime">
    <id column="MAXENDTIME" jdbcType="CHAR" property="maxendtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.GAMAXENDTIME
    where MAXENDTIME = #{maxendtime,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Gamaxendtime">
    insert into WISDOM.GAMAXENDTIME (MAXENDTIME)
    values (#{maxendtime,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MAXENDTIME
    from WISDOM.GAMAXENDTIME
  </select>
</mapper>