<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.GaparametersMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Gaparameters">
    <id column="PARANAME" jdbcType="CHAR" property="paraname" />
    <result column="PARAVALUE" jdbcType="DECIMAL" property="paravalue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.GAPARAMETERS
    where PARANAME = #{paraname,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Gaparameters">
    insert into WISDOM.GAPARAMETERS (PARANAME, PARAVALUE)
    values (#{paraname,jdbcType=CHAR}, #{paravalue,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Gaparameters">
    update WISDOM.GAPARAMETERS
    set PARAVALUE = #{paravalue,jdbcType=DECIMAL}
    where PARANAME = #{paraname,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PARANAME, PARAVALUE
    from WISDOM.GAPARAMETERS
    where PARANAME = #{paraname,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PARANAME, PARAVALUE
    from WISDOM.GAPARAMETERS
  </select>
</mapper>