<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.GascheduleMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Gaschedule">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <id column="MACHINENO" jdbcType="CHAR" property="machineno" />
    <result column="PARTNO" jdbcType="DECIMAL" property="partno" />
    <result column="PROCTIME" jdbcType="DECIMAL" property="proctime" />
    <result column="STARTTIME" jdbcType="CHAR" property="starttime" />
    <result column="ENDTIME" jdbcType="CHAR" property="endtime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WISDOM.GASCHEDULE
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Gaschedule">
    insert into WISDOM.GASCHEDULE (MPSNO, PROCESSNO, MACHINENO, 
      PARTNO, PROCTIME, STARTTIME, 
      ENDTIME, STATUS)
    values (#{mpsno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{machineno,jdbcType=CHAR}, 
      #{partno,jdbcType=DECIMAL}, #{proctime,jdbcType=DECIMAL}, #{starttime,jdbcType=CHAR}, 
      #{endtime,jdbcType=CHAR}, #{status,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Gaschedule">
    update WISDOM.GASCHEDULE
    set PARTNO = #{partno,jdbcType=DECIMAL},
      PROCTIME = #{proctime,jdbcType=DECIMAL},
      STARTTIME = #{starttime,jdbcType=CHAR},
      ENDTIME = #{endtime,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR}
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, MACHINENO, PARTNO, PROCTIME, STARTTIME, ENDTIME, STATUS
    from WISDOM.GASCHEDULE
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, MACHINENO, PARTNO, PROCTIME, STARTTIME, ENDTIME, STATUS
    from WISDOM.GASCHEDULE
  </select>
</mapper>