<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Log">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="OPERATEOR" jdbcType="VARCHAR" property="operateor" />
    <result column="OPERATETYPE" jdbcType="VARCHAR" property="operatetype" />
    <result column="OPERATEDATE" jdbcType="TIMESTAMP" property="operatedate" />
    <result column="OPERATERESULT" jdbcType="VARCHAR" property="operateresult" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from WISDOM.LOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Log">
    insert into WISDOM.LOG (ID, OPERATEOR, OPERATETYPE, 
      OPERATEDATE, OPERATERESULT, IP
      )
    values (#{id,jdbcType=DECIMAL}, #{operateor,jdbcType=VARCHAR}, #{operatetype,jdbcType=VARCHAR}, 
      #{operatedate,jdbcType=TIMESTAMP}, #{operateresult,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Log">
    update WISDOM.LOG
    set OPERATEOR = #{operateor,jdbcType=VARCHAR},
      OPERATETYPE = #{operatetype,jdbcType=VARCHAR},
      OPERATEDATE = #{operatedate,jdbcType=TIMESTAMP},
      OPERATERESULT = #{operateresult,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ID, OPERATEOR, OPERATETYPE, OPERATEDATE, OPERATERESULT, IP
    from WISDOM.LOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, OPERATEOR, OPERATETYPE, OPERATEDATE, OPERATERESULT, IP
    from WISDOM.LOG
  </select>
</mapper>