<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Menu">
    <result column="MENUID" jdbcType="VARCHAR" property="menuid" />
    <result column="MENUNAME" jdbcType="VARCHAR" property="menuname" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="IS_PARENT" jdbcType="DECIMAL" property="isParent" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Menu">
    insert into WISDOM.MENU (MENUID, MENUNAME, URL, 
      ICON, PID, IS_PARENT
      )
    values (#{menuid,jdbcType=VARCHAR}, #{menuname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{isParent,jdbcType=DECIMAL}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MENUID, MENUNAME, URL, ICON, PID, IS_PARENT
    from WISDOM.MENU
  </select>
</mapper>