<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.MrpMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Mrp">
    <id column="任务号" jdbcType="CHAR" property="任务号" />
    <result column="投产数量" jdbcType="DECIMAL" property="投产数量" />
    <result column="计划开始日期" jdbcType="CHAR" property="计划开始日期" />
    <result column="交货期" jdbcType="CHAR" property="交货期" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.MRP
    where 任务号 = #{任务号,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Mrp">
    insert into WISDOM.MRP (任务号, 投产数量, 计划开始日期, 
      交货期)
    values (#{任务号,jdbcType=CHAR}, #{投产数量,jdbcType=DECIMAL}, #{计划开始日期,jdbcType=CHAR}, 
      #{交货期,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Mrp">
    update WISDOM.MRP
    set 投产数量 = #{投产数量,jdbcType=DECIMAL},
      计划开始日期 = #{计划开始日期,jdbcType=CHAR},
      交货期 = #{交货期,jdbcType=CHAR}
    where 任务号 = #{任务号,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 任务号, 投产数量, 计划开始日期, 交货期
    from WISDOM.MRP
    where 任务号 = #{任务号,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 任务号, 投产数量, 计划开始日期, 交货期
    from WISDOM.MRP
  </select>
</mapper>