<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.PalmerMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Palmer">
    <id column="PARTNO" jdbcType="CHAR" property="partno" />
    <result column="PI1" jdbcType="DECIMAL" property="pi1" />
    <result column="PI2" jdbcType="DECIMAL" property="pi2" />
    <result column="PI3" jdbcType="DECIMAL" property="pi3" />
    <result column="LAMDA" jdbcType="DECIMAL" property="lamda" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.PALMER
    where PARTNO = #{partno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Palmer">
    insert into WISDOM.PALMER (PARTNO, PI1, PI2, 
      PI3, LAMDA)
    values (#{partno,jdbcType=CHAR}, #{pi1,jdbcType=DECIMAL}, #{pi2,jdbcType=DECIMAL}, 
      #{pi3,jdbcType=DECIMAL}, #{lamda,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Palmer">
    update WISDOM.PALMER
    set PI1 = #{pi1,jdbcType=DECIMAL},
      PI2 = #{pi2,jdbcType=DECIMAL},
      PI3 = #{pi3,jdbcType=DECIMAL},
      LAMDA = #{lamda,jdbcType=DECIMAL}
    where PARTNO = #{partno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PARTNO, PI1, PI2, PI3, LAMDA
    from WISDOM.PALMER
    where PARTNO = #{partno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PARTNO, PI1, PI2, PI3, LAMDA
    from WISDOM.PALMER
  </select>
</mapper>