<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ProcessfactorMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Processfactor">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <id column="FACTORNAME" jdbcType="CHAR" property="factorname" />
    <id column="FACTORVALUE" jdbcType="CHAR" property="factorvalue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WISDOM.PROCESSFACTOR
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
      and FACTORNAME = #{factorname,jdbcType=CHAR}
      and FACTORVALUE = #{factorvalue,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Processfactor">
    insert into WISDOM.PROCESSFACTOR (MPSNO, PROCESSNO, FACTORNAME, 
      FACTORVALUE)
    values (#{mpsno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{factorname,jdbcType=CHAR}, 
      #{factorvalue,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, FACTORNAME, FACTORVALUE
    from WISDOM.PROCESSFACTOR
  </select>
</mapper>