<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.Proctime2Mapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Proctime2">
    <result column="SHUNXU1" jdbcType="DECIMAL" property="shunxu1" />
    <result column="SHUNXU2" jdbcType="DECIMAL" property="shunxu2" />
    <result column="SHUNXU3" jdbcType="DECIMAL" property="shunxu3" />
    <result column="SHUNXU4" jdbcType="DECIMAL" property="shunxu4" />
    <result column="SHUNXU5" jdbcType="DECIMAL" property="shunxu5" />
    <result column="SHUNXU6" jdbcType="DECIMAL" property="shunxu6" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Proctime2">
    insert into WISDOM.PROCTIME2 (SHUNXU1, SHUNXU2, SHUNXU3, 
      SHUNXU4, SHUNXU5, SHUNXU6
      )
    values (#{shunxu1,jdbcType=DECIMAL}, #{shunxu2,jdbcType=DECIMAL}, #{shunxu3,jdbcType=DECIMAL}, 
      #{shunxu4,jdbcType=DECIMAL}, #{shunxu5,jdbcType=DECIMAL}, #{shunxu6,jdbcType=DECIMAL}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select SHUNXU1, SHUNXU2, SHUNXU3, SHUNXU4, SHUNXU5, SHUNXU6
    from WISDOM.PROCTIME2
  </select>
</mapper>