<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.Process140620e5Mapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Process140620e5">
    <result column="PNO" jdbcType="CHAR" property="pno" />
    <result column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <result column="PROCESSNAME" jdbcType="CHAR" property="processname" />
    <result column="PROCESSTIME" jdbcType="CHAR" property="processtime" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Process140620e5">
    insert into WISDOM.PROCESS_140620E5 (PNO, PROCESSNO, PROCESSNAME, 
      PROCESSTIME)
    values (#{pno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{processname,jdbcType=CHAR}, 
      #{processtime,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select PNO, PROCESSNO, PROCESSNAME, PROCESSTIME
    from WISDOM.PROCESS_140620E5
  </select>
</mapper>