<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ResourceNullMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.ResourceNull">
    <result column="PNO" jdbcType="CHAR" property="pno" />
    <result column="GXID" jdbcType="CHAR" property="gxid" />
    <result column="GXNAME" jdbcType="CHAR" property="gxname" />
    <result column="WORKER" jdbcType="CHAR" property="worker" />
    <result column="EQUIPMENT" jdbcType="CHAR" property="equipment" />
    <result column="RNULL" jdbcType="CHAR" property="rnull" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.ResourceNull">
    insert into WISDOM.RESOURCE_NULL (PNO, GXID, GXNAME, WORKER, 
      EQUIPMENT, RNULL)
    values (#{pno,jdbcType=CHAR}, #{gxid,jdbcType=CHAR}, #{gxname,jdbcType=CHAR}, #{worker,jdbcType=CHAR}, 
      #{equipment,jdbcType=CHAR}, #{rnull,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select PNO, GXID, GXNAME, WORKER, EQUIPMENT, RNULL
    from WISDOM.RESOURCE_NULL
  </select>
</mapper>