<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Role">
    <id column="UUID" jdbcType="DECIMAL" property="uuid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from WISDOM.ROLE
    where UUID = #{uuid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Role">
    insert into WISDOM.ROLE (UUID, NAME)
    values (#{uuid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Role">
    update WISDOM.ROLE
    set NAME = #{name,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select UUID, NAME
    from WISDOM.ROLE
    where UUID = #{uuid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select UUID, NAME
    from WISDOM.ROLE
  </select>
</mapper>