<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.SensordataMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Sensordata">
    <id column="PARTNO" jdbcType="CHAR" property="partno" />
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="INTEGRITY" jdbcType="CHAR" property="integrity" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WISDOM.SENSORDATA
    where PARTNO = #{partno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.Sensordata">
    insert into WISDOM.SENSORDATA (PARTNO, PROCESSNO, STARTTIME, 
      ENDTIME, INTEGRITY)
    values (#{partno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{integrity,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.Sensordata">
    update WISDOM.SENSORDATA
    set STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      INTEGRITY = #{integrity,jdbcType=CHAR}
    where PARTNO = #{partno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select PARTNO, PROCESSNO, STARTTIME, ENDTIME, INTEGRITY
    from WISDOM.SENSORDATA
    where PARTNO = #{partno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PARTNO, PROCESSNO, STARTTIME, ENDTIME, INTEGRITY
    from WISDOM.SENSORDATA
  </select>
</mapper>