<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ShebeigsgzMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Shebeigsgz">
    <result column="XUHAO" jdbcType="CHAR" property="xuhao" />
    <result column="SHEBEIBIANHAO" jdbcType="CHAR" property="shebeibianhao" />
    <result column="SHEBEIMINGCHENG" jdbcType="CHAR" property="shebeimingcheng" />
    <result column="SHEBEITIAOZHENGGONGSHI" jdbcType="CHAR" property="shebeitiaozhenggongshi" />
    <result column="SHEBEIGUZHANGLV" jdbcType="CHAR" property="shebeiguzhanglv" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Shebeigsgz">
    insert into WISDOM.SHEBEIGSGZ (XUHAO, SHEBEIBIANHAO, SHEBEIMINGCHENG, 
      SHEBEITIAOZHENGGONGSHI, SHEBEIGUZHANGLV)
    values (#{xuhao,jdbcType=CHAR}, #{shebeibianhao,jdbcType=CHAR}, #{shebeimingcheng,jdbcType=CHAR}, 
      #{shebeitiaozhenggongshi,jdbcType=CHAR}, #{shebeiguzhanglv,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select XUHAO, SHEBEIBIANHAO, SHEBEIMINGCHENG, SHEBEITIAOZHENGGONGSHI, SHEBEIGUZHANGLV
    from WISDOM.SHEBEIGSGZ
  </select>
</mapper>