<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.SqlplusProductProfileMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.SqlplusProductProfile">
    <result column="PRODUCT" jdbcType="VARCHAR" property="product" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="ATTRIBUTE" jdbcType="VARCHAR" property="attribute" />
    <result column="SCOPE" jdbcType="VARCHAR" property="scope" />
    <result column="NUMERIC_VALUE" jdbcType="DECIMAL" property="numericValue" />
    <result column="CHAR_VALUE" jdbcType="VARCHAR" property="charValue" />
    <result column="DATE_VALUE" jdbcType="TIMESTAMP" property="dateValue" />
    <result column="LONG_VALUE" jdbcType="LONGVARCHAR" property="longValue" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.SqlplusProductProfile">
    insert into WISDOM.SQLPLUS_PRODUCT_PROFILE (PRODUCT, USERID, ATTRIBUTE, 
      SCOPE, NUMERIC_VALUE, CHAR_VALUE, 
      DATE_VALUE, LONG_VALUE)
    values (#{product,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{scope,jdbcType=VARCHAR}, #{numericValue,jdbcType=DECIMAL}, #{charValue,jdbcType=VARCHAR}, 
      #{dateValue,jdbcType=TIMESTAMP}, #{longValue,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select PRODUCT, USERID, ATTRIBUTE, SCOPE, NUMERIC_VALUE, CHAR_VALUE, DATE_VALUE, 
    LONG_VALUE
    from WISDOM.SQLPLUS_PRODUCT_PROFILE
  </select>
</mapper>