<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.TimeknowledgeMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.Timeknowledge">
    <result column="PNO" jdbcType="CHAR" property="pno" />
    <result column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <result column="PROCESSNAME" jdbcType="CHAR" property="processname" />
    <result column="PROCESSTIME" jdbcType="CHAR" property="processtime" />
    <result column="FACTOR1" jdbcType="CHAR" property="factor1" />
    <result column="FACTOR2" jdbcType="CHAR" property="factor2" />
    <result column="FACTOR3" jdbcType="CHAR" property="factor3" />
    <result column="FACTOR4" jdbcType="CHAR" property="factor4" />
    <result column="FACTOR5" jdbcType="CHAR" property="factor5" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.Timeknowledge">
    insert into WISDOM.TIMEKNOWLEDGE (PNO, PROCESSNO, PROCESSNAME, 
      PROCESSTIME, FACTOR1, FACTOR2, 
      FACTOR3, FACTOR4, FACTOR5)
    values (#{pno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{processname,jdbcType=CHAR}, 
      #{processtime,jdbcType=CHAR}, #{factor1,jdbcType=CHAR}, #{factor2,jdbcType=CHAR}, 
      #{factor3,jdbcType=CHAR}, #{factor4,jdbcType=CHAR}, #{factor5,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select PNO, PROCESSNO, PROCESSNAME, PROCESSTIME, FACTOR1, FACTOR2, FACTOR3, FACTOR4, 
    FACTOR5
    from WISDOM.TIMEKNOWLEDGE
  </select>
</mapper>