<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.铝碳蒙皮设备故障调整Mapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.铝碳蒙皮设备故障调整">
    <result column="工位名称" jdbcType="CHAR" property="工位名称" />
    <result column="设备编号" jdbcType="CHAR" property="设备编号" />
    <result column="设备名称" jdbcType="CHAR" property="设备名称" />
    <result column="设备调整工时" jdbcType="CHAR" property="设备调整工时" />
    <result column="设备故障率" jdbcType="CHAR" property="设备故障率" />
  </resultMap>
  <insert id="insert" parameterType="com.generator.entity.铝碳蒙皮设备故障调整">
    insert into WISDOM.铝碳蒙皮设备故障调整 (工位名称, 设备编号, 设备名称, 设备调整工时, 
      设备故障率)
    values (#{工位名称,jdbcType=CHAR}, #{设备编号,jdbcType=CHAR}, #{设备名称,jdbcType=CHAR}, #{设备调整工时,jdbcType=CHAR}, 
      #{设备故障率,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select 工位名称, 设备编号, 设备名称, 设备调整工时, 设备故障率
    from WISDOM.铝碳蒙皮设备故障调整
  </select>
</mapper>