<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.product.mapper.GaselectedmpsnoMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.product.pojo.Gaselectedmpsno">
    <id column="MPSNO" jdbcType="VARCHAR" property="mpsno" />
    <result column="C_DATE" jdbcType="TIMESTAMP" property="cDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GASELECTEDMPSNO
    where MPSNO = #{mpsno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.product.pojo.Gaselectedmpsno">
    insert into GASELECTEDMPSNO (MPSNO)
    values (#{mpsno,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.product.pojo.Gaselectedmpsno">
    update GASELECTEDMPSNO
    set C_DATE = #{cDate,jdbcType=TIMESTAMP}
    where MPSNO = #{mpsno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select MPSNO
    from GASELECTEDMPSNO
    where MPSNO = #{mpsno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO
    from GASELECTEDMPSNO
  </select>
   <delete id="deleteGA">
    delete from GASELECTEDMPSNO
  </delete>
  <!--查询待排产工件  -->
   <select id="selectSchedulinglistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	select GAParallel.MPSNo as "mpsno",
       Process.ProcessNo as "processno",
       Machine.MachineNo as "machineno",
       to_char(sysdate + starttime / 24 / 60 / 60, 'yyyy-mm-dd hh24:mi:ss') as "starttime",
       to_char(sysdate + endtime / 24 / 60 / 60, 'yyyy-mm-dd hh24:mi:ss') as "endtime"
  from GAParallel, Process, Machine
 where GAParallel.MachineNo = Machine.ID
   and GAParallel.MPSNo = Process.MPSNo
   and GAParallel.ProcessNo = Process.SequenceNo
   and starttime is not null
 order by MPSNO, cast(GAParallel.processno as integer)
	
	
	
	</select>
</mapper>