<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.FaultymachineMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Faultymachine">
    <id column="MACHINENO" jdbcType="CHAR" property="machineno" />
    <id column="FSTARTTIME" jdbcType="CHAR" property="fstarttime" />
    <result column="PRECOVERYTIME" jdbcType="CHAR" property="precoverytime" />
    <result column="FENDTIME" jdbcType="CHAR" property="fendtime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from FAULTYMACHINE
    where trim(MACHINENO) = trim(#{machineno,jdbcType=CHAR})
      and trim(FSTARTTIME) = rtrim(#{fstarttime,jdbcType=CHAR})
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Faultymachine">
    insert into FAULTYMACHINE (MACHINENO, FSTARTTIME, PRECOVERYTIME, 
      FENDTIME, STATUS,createdate)
    values (#{machineno,jdbcType=CHAR}, #{fstarttime,jdbcType=CHAR}, #{precoverytime,jdbcType=CHAR}, 
      #{fendtime,jdbcType=CHAR}, #{status,jdbcType=CHAR},sysdate)
  </insert>
  <insert id="insertFaultMachine" parameterType="cn.lastwhisper.productplan.pojo.Faultymachine">
    insert into FAULTYMACHINE (MACHINENO, FSTARTTIME, PRECOVERYTIME, 
      FENDTIME, STATUS)
    values (#{machineno,jdbcType=CHAR}, #{fstarttime,jdbcType=CHAR}, #{precoverytime,jdbcType=CHAR}, 
      #{fendtime,jdbcType=CHAR}, #{status,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Faultymachine">
    update FAULTYMACHINE
    set PRECOVERYTIME = #{precoverytime,jdbcType=CHAR},
      FENDTIME = #{fendtime,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR}
    where MACHINENO = #{machineno,jdbcType=CHAR}
      and FSTARTTIME = #{fstarttime,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select MACHINENO, FSTARTTIME, PRECOVERYTIME, FENDTIME, STATUS
    from FAULTYMACHINE
    where MACHINENO = #{machineno,jdbcType=CHAR}
      and FSTARTTIME = #{fstarttime,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MACHINENO, FSTARTTIME, PRECOVERYTIME, FENDTIME, STATUS
    from FAULTYMACHINE
  </select>
   <select id="selectFault" resultType="java.util.Map">
    select m.MachineNo as "machineno",
    MachineName as "machinename",
    FStartTime as "fstarttime",
    PRecoveryTime as "precovertime",
    FEndTime as "fendtime",
    Status as "status"
	from Machine m,FaultyMachine f where m.MachineNo=f.MachineNo
		<if test="machineno!=null and machineno!=''">
		   and machineno = #{machineno}
		</if>
		<if test="machinename!=null and machinename!=''">
		   and machinename = #{machinename}
		</if>
  </select>
 </mapper>