<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.GaparallelMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Gaparallel">
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <id column="MACHINENO" jdbcType="CHAR" property="machineno" />
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <result column="PARTNO" jdbcType="DECIMAL" property="partno" />
    <result column="PROCTIME" jdbcType="DECIMAL" property="proctime" />
    <result column="STARTTIME" jdbcType="CHAR" property="starttime" />
    <result column="ENDTIME" jdbcType="CHAR" property="endtime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GAPARALLEL
    where PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
      and MPSNO = #{mpsno,jdbcType=CHAR}
  </delete>
  <delete id="deleteAll" parameterType="map">
    delete from GAPARALLEL
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Gaparallel">
    insert into GAPARALLEL (PROCESSNO, MACHINENO, MPSNO, 
      PARTNO, PROCTIME, STARTTIME, 
      ENDTIME, STATUS)
    values (#{processno,jdbcType=CHAR}, #{machineno,jdbcType=CHAR}, #{mpsno,jdbcType=CHAR}, 
      #{partno,jdbcType=DECIMAL}, #{proctime,jdbcType=DECIMAL}, #{starttime,jdbcType=CHAR}, 
      #{endtime,jdbcType=CHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertPall" parameterType="cn.lastwhisper.productplan.pojo.Gaparallel">
    insert into GAParallel select * from GASchedule
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Gaparallel">
    update GAPARALLEL
    set PARTNO = #{partno,jdbcType=DECIMAL},
      PROCTIME = #{proctime,jdbcType=DECIMAL},
      STARTTIME = #{starttime,jdbcType=CHAR},
      ENDTIME = #{endtime,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR}
    where PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
      and MPSNO = #{mpsno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select PROCESSNO, MACHINENO, MPSNO, PARTNO, PROCTIME, STARTTIME, ENDTIME, STATUS
    from GAPARALLEL
    where PROCESSNO = #{processno,jdbcType=CHAR}
      and MACHINENO = #{machineno,jdbcType=CHAR}
      and MPSNO = #{mpsno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PROCESSNO, MACHINENO, MPSNO, PARTNO, PROCTIME, STARTTIME, ENDTIME, STATUS
    from GAPARALLEL
  </select>
  <!--显示排产结果  -->
  <select id="selectGASchedlelistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	select GAParallelShow.MPSNo as "mpsno"
		,Process.ProcessNo as "processno"
		,Machine.MachineNo as "machineno"
		,to_char(sysdate+starttime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "starttime"
		,to_char(sysdate+endtime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "endtime"
 	from GAParallelShow,Process,Machine 
	where GAParallelShow.MachineNo=Machine.ID and GAParallelShow.MPSNo=Process.MPSNo 
		and GAParallelShow.ProcessNo=Process.SequenceNo and starttime is not null order by GAParallelShow.MPSNO,
 		cast(GAParallelShow.processno as integer)
	</select>
	<!--显示上次排产结果  -->
	<select id="selectGASchedlastlistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
 		select MPSNO as "mpsno",
 		 PROCESSNO as "processno",
 		  MACHINENO as "machineno",
 		   STARTTIME as "starttime", 
 		   ENDTIME as "endtime",
 		    FIRSTFLAG
    from SCHEDULING where firstflag='1'
	</select>
	<insert id="inserScheduling" parameterType="cn.lastwhisper.productplan.pojo.Gaparallel" >
		insert into scheduling(mpsno,processno,machineno,starttime,endtime)
		select GAParallelShow.MPSNo as "mpsno"
		,Process.ProcessNo as "processno"
		,Machine.MachineNo as "machineno"
		,to_char(sysdate+starttime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "starttime"
		,to_char(sysdate+endtime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "endtime"
		from GAParallelShow,Process,Machine
		where GAParallelShow.MachineNo=Machine.ID and GAParallelShow.MPSNo=Process.MPSNo
		and GAParallelShow.ProcessNo=Process.SequenceNo and starttime is not null
		order by GAParallelShow.MPSNO,
		cast(GAParallelShow.processno as integer)
	</insert>
	<select id="queryScheduling" parameterType="java.lang.String">
 		select count(*)
    	from SCHEDULING where mpsno=#{mpsno,jdbcType=VARCHAR}
	</select>
	<select id="updateScheduling" parameterType="java.lang.String">
 		update scheduling s set starttime = (select to_char(sysdate+starttime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "starttime" from 
 		GAParallelShow,Process,Machine
		where GAParallelShow.MachineNo=Machine.ID and GAParallelShow.MPSNo=Process.MPSNo
		and GAParallelShow.ProcessNo=Process.SequenceNo and starttime is not null and rtrim(s.mpsno)=rtrim(GAParallelShow.mpsno) ),
		endtime =(select to_char(sysdate+endtime/24/60/60,'yyyy-mm-dd hh24:mi:ss') as "endtime" from 
 		GAParallelShow,Process,Machine
		where GAParallelShow.MachineNo=Machine.ID and GAParallelShow.MPSNo=Process.MPSNo
		and GAParallelShow.ProcessNo=Process.SequenceNo and starttime is not null and rtrim(s.mpsno)=rtrim(GAParallelShow.mpsno) ),
		set FIRSTFLAG='1'
	</select>
</mapper>