<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.MpsMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Mps">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <result column="TASKNO" jdbcType="CHAR" property="taskno" />
    <result column="PROCESSFILENO" jdbcType="CHAR" property="processfileno" />
    <result column="MANUNUMBER" jdbcType="CHAR" property="manunumber" />
    <result column="STARTDATE" jdbcType="CHAR" property="startdate" />
    <result column="ENDDATE" jdbcType="CHAR" property="enddate" />
    <result column="DEPARTMENT" jdbcType="CHAR" property="department" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="URGENT" jdbcType="CHAR" property="urgent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WISDOM.MPS
    where MPSNO = #{mpsno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Mps">
    insert into WISDOM.MPS (MPSNO, TASKNO, PROCESSFILENO, 
      MANUNUMBER, STARTDATE, ENDDATE, 
      DEPARTMENT, STATUS, TYPE, URGENT
      )
    values (#{mpsno,jdbcType=CHAR}, #{taskno,jdbcType=CHAR}, #{processfileno,jdbcType=CHAR}, 
      #{manunumber,jdbcType=CHAR}, #{startdate,jdbcType=CHAR}, #{enddate,jdbcType=CHAR}, 
      #{department,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{type,jdbcType=CHAR}, #{urgent,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Mps">
    update WISDOM.MPS
    set TASKNO = #{taskno,jdbcType=CHAR},
      PROCESSFILENO = #{processfileno,jdbcType=CHAR},
      MANUNUMBER = #{manunumber,jdbcType=CHAR},
      STARTDATE = #{startdate,jdbcType=CHAR},
      ENDDATE = #{enddate,jdbcType=CHAR},
      DEPARTMENT = #{department,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      TYPE = #{type,jdbcType=CHAR},
      URGENT = #{urgent,jdbcType=CHAR}
    where MPSNO = #{mpsno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS, TYPE, URGENT
    from WISDOM.MPS
    where MPSNO = #{mpsno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS, TYPE, URGENT
    from WISDOM.MPS
  </select>
</mapper>