<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.MpsMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Mps">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <result column="TASKNO" jdbcType="CHAR" property="taskno" />
    <result column="PROCESSFILENO" jdbcType="CHAR" property="processfileno" />
    <result column="MANUNUMBER" jdbcType="CHAR" property="manunumber" />
    <result column="STARTDATE" jdbcType="CHAR" property="startdate" />
    <result column="ENDDATE" jdbcType="CHAR" property="enddate" />
    <result column="DEPARTMENT" jdbcType="CHAR" property="department" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="URGENT" jdbcType="CHAR" property="urgent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MPS
    where MPSNO = #{mpsno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Mps">
    insert into MPS (MPSNO, TASKNO, PROCESSFILENO, 
      MANUNUMBER, STARTDATE, ENDDATE, 
      DEPARTMENT, STATUS, TYPE, URGENT
      )
    values (#{mpsno,jdbcType=CHAR}, #{taskno,jdbcType=CHAR}, #{processfileno,jdbcType=CHAR}, 
      #{manunumber,jdbcType=CHAR}, #{startdate,jdbcType=CHAR}, #{enddate,jdbcType=CHAR}, 
      #{department,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{type,jdbcType=CHAR}, #{urgent,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Mps">
    update MPS
    <trim prefix="set" suffixOverrides="," suffix="where MPSNO = #{mpsno,jdbcType=CHAR} ">
			<if test='taskno != null and taskno != ""'>
			TASKNO=#{taskno}, 
			</if>
			<if test='processfileno != null and processfileno != "" '>
			processfileno=#{processfileno}, 
			</if>
			<if test='manunumber != null and manunumber != "" '>
			manunumber=#{manunumber} 
			</if>
			<if test='startdate != null and startdate != ""'>
			startdate=#{startdate}, 
			</if>
			<if test='enddate != null and enddate != "" '>
			enddate=#{enddate}, 
			</if>
			<if test='department != null and department != "" '>
			department=#{department} 
			</if>
			<if test='status != null and status != ""'>
			status=#{status}, 
			</if>
			<if test='type != null and type != "" '>
			type=#{type}, 
			</if>
			<if test='urgent != null and urgent != "" '>
			urgent=#{urgent} 
			</if>
		</trim>
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS, type as type , URGENT
    from MPS
    where rtrim(MPSNO) =rtrim( #{mpsno,jdbcType=CHAR})
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS, TYPE, URGENT
    from MPS
  </select>
  
  <select id="selectPlanelistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultMap="BaseResultMap">
	SELECT MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS,  type as type, URGENT
    from MPS where 1=1
		<if test="startdate!=null and startdate!=''">
		   and to_char(startdate,'yyyy-mm-dd') = #{startdate}
		</if>
		<if test="enddate!=null and enddate!=''">
		   and	to_char(enddate,'yyyy-mm-dd') = #{enddate}
		</if>
		<if test="urgent!=null and urgent!=''">
		   and	urgent like   concat(concat('%',#{urgent}),'%')
		</if>
	</select>
	
	 <select id="selectInsertlistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultMap="BaseResultMap">
	SELECT MPSNO, TASKNO, PROCESSFILENO, MANUNUMBER, STARTDATE, ENDDATE, DEPARTMENT, 
    STATUS, type as type, URGENT
    from MPS where 1=1 and mpsno not in(select mpsno from GASelectedMPSNo)
		<if test="startdate!=null and startdate!=''">
		   and to_char(startdate,'yyyy-mm-dd') = #{startdate}
		</if>
		<if test="enddate!=null and enddate!=''">
		   and	to_char(enddate,'yyyy-mm-dd') = #{enddate}
		</if>
		<if test="urgent!=null and urgent!=''">
		   and	urgent like   concat(concat('%',#{urgent}),'%')
		</if>
	</select>
	
	<select id="selectInsertShowlistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultMap="BaseResultMap">
	SELECT MPSNO as "mpsno", TASKNO as "taskno", PROCESSFILENO as "processfileno", MANUNUMBER as "manunumber",
	 STARTDATE as "startdate", ENDDATE as "enddate", DEPARTMENT as "department", 
    STATUS as "status", type as "type", URGENT as "urgent"
    from MPS where 1=1 
		   and	rtrim(urgent) ='Yes'
		
	</select>
	<!--埋件准备时候的更新  -->
	<update id="updateStatusByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Mps">
    update MPS set status='待加工' where mpsno=#{mpsno}
  </update>
</mapper>