<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Process">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <result column="SEQUENCENO" jdbcType="CHAR" property="sequenceno" />
    <result column="MACHINENO" jdbcType="CHAR" property="machineno" />
    <result column="SCHEDULEDSTARTTIME" jdbcType="CHAR" property="scheduledstarttime" />
    <result column="SCHEDULEDENDTIME" jdbcType="CHAR" property="scheduledendtime" />
    <result column="ACTUALSTARTTIME" jdbcType="CHAR" property="actualstarttime" />
    <result column="ACTUALENDTIME" jdbcType="CHAR" property="actualendtime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from PROCESS
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Process">
    insert into PROCESS (MPSNO, PROCESSNO, SEQUENCENO, 
      MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
      ACTUALSTARTTIME, ACTUALENDTIME, STATUS
      )
    values (#{mpsno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{sequenceno,jdbcType=CHAR}, 
      #{machineno,jdbcType=CHAR}, #{scheduledstarttime,jdbcType=CHAR}, #{scheduledendtime,jdbcType=CHAR}, 
      #{actualstarttime,jdbcType=CHAR}, #{actualendtime,jdbcType=CHAR}, #{status,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Process">
    update PROCESS
    set SEQUENCENO = #{sequenceno,jdbcType=CHAR},
      MACHINENO = #{machineno,jdbcType=CHAR},
      SCHEDULEDSTARTTIME = #{scheduledstarttime,jdbcType=CHAR},
      SCHEDULEDENDTIME = #{scheduledendtime,jdbcType=CHAR},
      ACTUALSTARTTIME = #{actualstarttime,jdbcType=CHAR},
      ACTUALENDTIME = #{actualendtime,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR}
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, SEQUENCENO, MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
    ACTUALSTARTTIME, ACTUALENDTIME, STATUS
    from PROCESS
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, SEQUENCENO, MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
    ACTUALSTARTTIME, ACTUALENDTIME, STATUS
    from PROCESS
  </select>
  <select id="processCompleteMps" resultMap="BaseResultMap">
    select MPSNo from MPS where Status = '在加工' or Status = '待加工'
  </select>
  <select id="getProcessNo" resultMap="BaseResultMap">
    select SequenceNo from process where trim(mpsno)=#{mpsno}
  </select>
   <select id="selectProcesslistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	select MPSNo as "mpsno",SequenceNo as "sequenceno",Process.ProcessNo as "processno",ProcessName as "processname" from Process,carbonknowledge  
	where 1=1
	<if test="mpsno!=null and mpsno!=''">
		   and rtrim(MPSNO) = #{mpsno} 
	</if>
	and Process.ProcessNo=carbonknowledge.ProcessNo 
	 and rtrim(type) = (select case when rtrim(type)='碳蒙皮' then 'C0001' else 'A0001' end from mps where rtrim(MPSNO) =rtrim(Process.mpsno) )
	order by mpsno,cast(sequenceno as integer)
	</select>
	 <select id="selectProcessdelaylistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	
	<if test="delaytime==null or delaytime==''">
		   select NewSensorData.mpsno as "mpsno"
		,taskno as "taskno"
		,NewSensorData.processno as "processno"
		, NewSensorData.endtime as "endtime"
		, to_char(to_date('8:00:00','hh24:mi:ss')+GAParallel.endtime/24/60/60,'hh24:mi:ss') as  "planendtime"
		,NewSensorData.status as "status"
		 from NewSensorData
		,GAParallel 
		where NewSensorData.processno in (select max(cast(processno as int)) 
		from NewSensorData group by mpsno) and NewSensorData.mpsno=GAParallel.mpsno 
		and NewSensorData.processno=GAParallel.processno 
		and GAParallel.starttime is not null 
		order by NewSensorData.mpsno
	</if>
	
	<if test="delaytime!=null and delaytime!=''">
		   select NewSensorData.mpsno,
       taskno,
       NewSensorData.processno,
       NewSensorData.endtime,
       to_char(to_date('8:00:00', 'hh24:mi:ss') +
               GAParallel.endtime / 24 / 60 / 60,
               'hh24:mi:ss') PlanEndTime,
       round(to_number(to_date(NewSensorData.recorddate ||
                               NewSensorData.endtime,
                               'yyyy-mm-dd hh24:mi:ss') -
                       (to_date(NewSensorData.recorddate || '8:00:00',
                                'yyyy-mm-dd hh24:mi:ss') +
                        GAParallel.endtime / 24 / 60 / 60)) * 24 * 60) DelayTime
	  from NewSensorData, GAParallel
	 where NewSensorData.processno in
	       (select max(processno) from NewSensorData group by mpsno)
	   and NewSensorData.mpsno = GAParallel.mpsno
	   and NewSensorData.processno = GAParallel.processno
	   and GAParallel.starttime is not null
	   and round(to_number(to_date(NewSensorData.recorddate ||
	                               NewSensorData.endtime,
	                               'yyyy-mm-dd hh24:mi:ss') -
	                       (to_date('2019-3-2 8:00:00', 'yyyy-mm-dd hh24:mi:ss') +
	                        GAParallel.endtime / 24 / 60 / 60)) * 24 * 60) >
	        #{delaytime} 
	 order by NewSensorData.mpsno
	</if>
	
	
	</select>
	
	<select id="selectMps" resultType="java.util.Map">
    select distinct MPSNO from MPS order by MPSNO
  </select>
  <!--显示工时预测相关内容  -->
  <select id="selectPredictlistByPage"
	parameterType="cn.lastwhisper.productplan.pojo.Mps"
	resultType="java.util.Map">
	select GA.mpsno, taskno, processfileno, p.processno, processname,
	wm_concat(m.machineno)
	machineno,wm_concat(round(ga.proctime/60,1)) proctime
	from GA,MPS,Process p,CarbonKnowledge c,Machine m
	where GA.MachineNo=m.ID and GA.mpsno=MPS.mpsno
	and GA.mpsno=p.mpsno 
	and p.sequenceno=GA.processno
	and p.processno=c.processno 
	and c.type=(select case when rtrim(type)='碳蒙皮' then 'C0001' else 'A0001' end from mps where rtrim(MPSNO)=#{mpsno})
	<if test="mpsno!=null and mpsno!=''">
		   and rtrim(ga.MPSNO) = #{mpsno}
	</if>
	group by ga.mpsno,taskno,processfileno, p.processno,processname
	</select>
	
	<!--显示制造资源配置相关内容  -->
  <select id="selectManuePlanelistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	select m.mpsno,taskno,processfileno,p.processno,processname,
	wm_concat(c.machineno) machineno
	 from mps m,CarbonKnowledge ck,CarbonMachineWorker c,Process p
	  where m.mpsno=p.mpsno 
	  and p.processno=c.processno 
	  and ck.processno=c.processno  
	  and c.type=(select case when rtrim(type)='碳蒙皮' then 'C0001' else 'A0001' end from mps where rtrim(MPSNO)=#{mpsno})
	   and c.type=ck.type
	 <if test="mpsno!=null and mpsno!=''">
		   and trim(m.mpsno) = #{mpsno}
	</if>
	   group by m.mpsno,taskno,processfileno,p.processno,processname
	</select>
</mapper>