<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.productplan.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.productplan.pojo.Process">
    <id column="MPSNO" jdbcType="CHAR" property="mpsno" />
    <id column="PROCESSNO" jdbcType="CHAR" property="processno" />
    <result column="SEQUENCENO" jdbcType="CHAR" property="sequenceno" />
    <result column="MACHINENO" jdbcType="CHAR" property="machineno" />
    <result column="SCHEDULEDSTARTTIME" jdbcType="CHAR" property="scheduledstarttime" />
    <result column="SCHEDULEDENDTIME" jdbcType="CHAR" property="scheduledendtime" />
    <result column="ACTUALSTARTTIME" jdbcType="CHAR" property="actualstarttime" />
    <result column="ACTUALENDTIME" jdbcType="CHAR" property="actualendtime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WISDOM.PROCESS
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.lastwhisper.productplan.pojo.Process">
    insert into WISDOM.PROCESS (MPSNO, PROCESSNO, SEQUENCENO, 
      MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
      ACTUALSTARTTIME, ACTUALENDTIME, STATUS
      )
    values (#{mpsno,jdbcType=CHAR}, #{processno,jdbcType=CHAR}, #{sequenceno,jdbcType=CHAR}, 
      #{machineno,jdbcType=CHAR}, #{scheduledstarttime,jdbcType=CHAR}, #{scheduledendtime,jdbcType=CHAR}, 
      #{actualstarttime,jdbcType=CHAR}, #{actualendtime,jdbcType=CHAR}, #{status,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.productplan.pojo.Process">
    update WISDOM.PROCESS
    set SEQUENCENO = #{sequenceno,jdbcType=CHAR},
      MACHINENO = #{machineno,jdbcType=CHAR},
      SCHEDULEDSTARTTIME = #{scheduledstarttime,jdbcType=CHAR},
      SCHEDULEDENDTIME = #{scheduledendtime,jdbcType=CHAR},
      ACTUALSTARTTIME = #{actualstarttime,jdbcType=CHAR},
      ACTUALENDTIME = #{actualendtime,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR}
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, SEQUENCENO, MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
    ACTUALSTARTTIME, ACTUALENDTIME, STATUS
    from WISDOM.PROCESS
    where MPSNO = #{mpsno,jdbcType=CHAR}
      and PROCESSNO = #{processno,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MPSNO, PROCESSNO, SEQUENCENO, MACHINENO, SCHEDULEDSTARTTIME, SCHEDULEDENDTIME, 
    ACTUALSTARTTIME, ACTUALENDTIME, STATUS
    from WISDOM.PROCESS
  </select>
   <select id="selectProcesslistByPage" parameterType="cn.lastwhisper.productplan.pojo.Mps" resultType="java.util.Map">
	select MPSNo,SequenceNo,Process.ProcessNo,ProcessName from Process,carbonknowledge  
	where 1=1
	<if test="mpsno!=null and mpsno!=''">
		   and trim(MPSNO) = #{mpsno}
	</if>
	and Process.ProcessNo=carbonknowledge.ProcessNo 
	order by cast(sequenceno as integer)
	</select>
	<select id="selectMps" resultType="java.util.Map">
    select MPSNO from MPS order by MPSNO
  </select>
</mapper>